@media (max-width: 768px) {
  .imgCart {
    width: 60px !important;
  }
}
.course-item {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-image {
  width: 100px;
  height: auto;
}


.course-name {
  width: 50%;
}

.no-link-style {
  text-decoration: none;
}

.delete-icon {
  cursor: pointer;
}

.purchase-button-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.purchase-button {
  background-color: #3DC2EC;
  color: #FFFFFF;
}

.go-to-courses-button {
  background-color: #3DC2EC;
  margin-top: 35px;
  color: #FFFFFF;
}

.btn-small-text {
  padding: 8px 16px;
}
